<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<p>
    Edit
</p>

<form th:action="@{editMeasurementType(measurementType.id)}" method="POST">
    <!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->



<!--    <p>Measurement Type: <input type="text" name="name"/></p>-->

    <p>Measurement Type: <input type="text" name="name"/></p>
    <p>Unit: <input type="text" name="unit"/></p>



    <p><input type="submit" name="Submit"/></p>
</form>
</body>
</html>
