<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--    <link rel="stylesheet" type="text/css" href="/css/users.css"/>-->
</head>

<body>
<!--<div class="logout" style="float:right">-->
<!--    <p th:text="#{}"> Hallo </p>-->
<!--    <span th:text="${#httpServletRequest.remoteUser}">User</span>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--        <input type="submit" value="Logout"/>-->
<!--    </form>-->
<!--</div>-->

<p>
<li th:each="m: ${gymClasses}">
    <!--    <a th:href="@{/mvc/user/{id}/delete(id=${u.id})}">-->
    <!--        <img class="deleteUser">-->
    <!--    </a>-->
    <span th:text="${m.date}">Date </span>
    <span th:text="${m.startHour}">start hour </span>
    <span th:text="${m.gymClassType}">gym class </span>
    <span th:text="${m.room}">Room </span>


</li>



</p>

<p>




</p>



<p>
    <a href="/gymClasses/insertGymClass"> Add </a> new gym class
</p>
</body>
</html>
