<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<p>
    Insert:
</p>
<form th:action="@{/gymClasses/insertGymClass}" method="POST">
    <!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <p>Date: <input type="date" name="date"/></p>
    <p>Gym class: <input type="number" name="gymClassType"/></p>
    <p>Start hour: <input type="number" name="startHour"/></p>
    <p>Room: <input type="number" name="room"/></p>


    <p><input type="submit" name="Submit"/></p>
</form>
</body>
</html>
